<button (click)="showAddKegForm()">Tap a new Keg</button>
<div id="beerForm" *ngIf="showAddKeg">
  <h2>New Beer/Keg</h2>
  <label for="name">New Beer Name: </label>
  <input #name required><br>
  <label for="brand">Brewer Name: </label>
  <input #brand required><br>
  <label for="price">Set Price: </label>
  <input #price type="number" required><br>
  <label for="abv">ABV: </label>
  <input #abv required><br>
  <label for="style">Style: </label>
  <input #style required><br>
  <button (click)="addKeg(name.value, brand.value, price.value, abv.value, style.value)">Add to keg list</button>
  <button (click)="hideAddKegForm()">Hide</button>
</div>